
@{
    ViewBag.Title = "Discovery";
}

<h2>Discovery</h2>
<head onload=""></head>



<form action="/Mains/GetSimilar" method="post">
    <input name="__RequestVerificationToken" value="865PQ9EiDIk-qhZ25Uod4oiy9jFJdw2rWPI4aQIMiYnaUfPH22LOvCCaaLqsG2Zv-chpQFza0exfj2_pGsAXP-e--s6WSYenDWqjJ8mIzy81" type="hidden">    <div class="form-horizontal">
        <h4>Main</h4>
        <hr>

        <div class="form-group">
            <label class="control-label col-md-2" for="UserName">UserName</label>
            <div class="col-md-10">
                <select class="form-control" id="UserName" name="UserName">
                    <option value="ariana">ariana</option>
                    <option value="josh">josh</option>
                    <option value="sabrinamason01">sabrinamason01</option>
                    <option value="torbee">torbee</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Mood">Mood</label>
            <div class="col-md-10">
                <select class="form-control" id="Mood" name="Mood">
                    <option value="Happy">Happy</option>
                    <option value="Angry">Angry</option>
                    <option value="Chill">Chill</option>
                    <option value="Energized">Energized</option>
                    <option value="Neutral">Neutral</option>
                    <option value="Sad">Sad</option>
                    <option value="Romantic">Romantic</option>
                </select>
                <span class="field-validation-valid text-danger" data-valmsg-for="Mood" data-valmsg-replace="true"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Create" class="btn btn-default" type="submit">
            </div>
        </div>
    </div>
</form>







@*<script>
$(document).ready(function() {
   $.getJSON("http://ws.audioscrobbler.com/2.0/?method=geo.gettopartists&country=brazil&api_key=8468e49f31e72233a11b83ea4d4a1e6e&limit=10&format=json&callback=?", function (json) {
      // method=user.getTopArtists&user=test&api
      // /2.0/?method=geo.gettopartists&country=spain&api_key=YOUR_API_KEY&format=json
       var html = '';
       $.each(json.topartists.artist, function(i, item) {
           html += "<p><a href=" + item.url + " target='_blank'>" + item.name + " - " + "Play count : " +item.playcount + "</a></p>";
       });
       $('#result').append(html);
   });
});
</script>
<div id="result"></div>*@
