
@{
    ViewBag.Title = "OurWave";
}

<h2>Our Waves</h2>
<br />
<h3>Add new Waves</h3>
<select>
    <option value="User">User</option>
    <option value="Track">Track</option>
    <option value="Artist">Artist</option>
    <option value="Mood">Mood</option>
</select>

<input type="submit" name="Submit">